@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*, *::after, *::before {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

/*  ----------------------------------    HEADER-------------------------------------*/
/*      MENU      */

.menu {
    display: flex;
    align-content: center;
    /* border: thin solid black; */
    height: 70px;
    
}

.menu span {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#menu-icono {
    height: 28px;
}

.menu-list {
    background-color: rgb(240, 45, 11);
    color: white;
    margin: 0px;
    list-style: none;
    width: 100vw;
    height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    position: absolute;
    right: 0px;
    top: 70px;
    margin: 0;
    transition: 1000ms;
}

#menu-list a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
} 

#menu-list a:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.nones {
    display: none;
}






.logo {
    height: 33px;
}

.logo-a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}








.hero-img1 {    
    background-image: url("../imgs/hero-cafe-01.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 76%;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.hero-img-opacity {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, .6);
    height: inherit;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: thin solid white; */
    width: 80%;
    height: 25vh;
}

.hero-text {
    color: white;
    margin: 20px 0 20px 0;
    padding: 0;
    font-size: medium;
    font-weight: lighter;
    /* border: thin solid white; */
} 

.hero-content .btn {
    color: white;
    text-decoration: none;
    /* margin-top: 100px; */
    padding: 13px 100px;
    border: medium solid white;
    border-radius: 0 0 20px 0;
}

.hero-content .btn:hover {
    cursor: pointer;
    background-color: rgba(228, 195, 195, 0.219);
} 


/*  -----------------------------*/